# MBS instance (cloudos-consolidated, PUBLIC IP, project cloudos-478102)
MBS_DATABASE_HOST=localhost
MBS_DATABASE_PORT=5432
MBS_DATABASE_USER=mcp_readonly
MBS_DATABASE_PASSWORD=
MBS_DATABASE_NAME=clinicos_mbs
MBS_USE_CLOUD_SQL_CONNECTOR=false
MBS_CLOUD_SQL_CONNECTION=cloudos-478102:australia-southeast1:cloudos-consolidated

# Accreditation instance (clinicos-emr-pg16-staging, PRIVATE IP, project clinicos-emr-staging)
ACCRED_DATABASE_HOST=localhost
ACCRED_DATABASE_PORT=5432
ACCRED_DATABASE_USER=mcp_readonly
ACCRED_DATABASE_PASSWORD=
ACCRED_DATABASE_NAME=clinicos_accreditation
ACCRED_USE_CLOUD_SQL_CONNECTOR=false
ACCRED_CLOUD_SQL_CONNECTION=clinicos-emr-staging:australia-southeast1:clinicos-emr-pg16-staging

# RAG Spine
RAG_SPINE_URL=http://localhost:8001
RAG_SPINE_TENANT_ID=public

# Server
MCP_TRANSPORT=stdio
MCP_PORT=8000
